header {
  position: relative;
  padding: 10px;
  left: 280px;
  width: 1000px;
  background: linear-gradient(to right, rgb(0 0 0 / 0.8), rgb(0 0 0 / 0)),
    url("/media/ilaw.jpg");
  object-fit: scale-down;
  background-size: cover;
  overflow: hidden;
  color: white;
}

.vertical-menu {
  position: absolute;
  top: 0px;
  width: 250px; /* Set a width if you like */
}

.vertical-menu a {
  /* background-color: #eee; Grey background color */
  border-style: solid;
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: turquoise; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: #04aa6d; /* Add a green color to the "active/current" link */
  color: white;
}

h2.docu_menu {
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: white;
}

.h1_title {
  position: sticky;
  top: 10px;
}
